<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        <script>
            Hi, from orion;
            var unusedVariable; // Intentionally declared but not used
        </script>
    </body>
</html>
